projects/flows/n8n/accessibility-auditor.json
{
  "name": "AIQA AGENT - Accessibility Auditor Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aiqa/accessibility-auditor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "280cd898-16e1-6992-e0f5-755468c6334e",
      "name": "Project Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ],
      "webhookId": "c8ca6d54-44c9-f7ee-def9-f2174b8997e8"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nreturn [{\n  json: {\n    projectId: \"accessibility-auditor\",\n    title: \"Accessibility Auditor Agent\",\n    provider: body.provider ?? process.env.AIQA_PROVIDER ?? \"groq\",\n    model: body.model ?? process.env.AIQA_MODEL ?? \"\",\n    input: body.input ?? body,\n    wrapperUrl: body.wrapperUrl ?? process.env.AIQA_WRAPPER_URL ?? \"http://host.docker.internal:8787/api/run\"\n  }\n}];"
      },
      "id": "fa9bffaa-ddf9-6ec5-13df-499c3deabd50",
      "name": "Normalize AIQA Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wrapperUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: $json.projectId, provider: $json.provider, model: $json.model, input: $json.input }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "d7bf910e-c7c6-bc46-ee88-560012ea35af",
      "name": "Call Multi Provider AI Wrapper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nreturn [{\n  json: {\n    projectId: \"accessibility-auditor\",\n    title: \"Accessibility Auditor Agent\",\n    provider: response.provider ?? \"ai-wrapper\",\n    model: response.model ?? \"\",\n    output: response.output ?? response.content ?? response.message ?? response,\n    usage: response.usage ?? null,\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "737463ac-05d4-f882-c473-4886b4a27579",
      "name": "Shape QA Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "fcc6f044-06a4-e3aa-9e75-30938160eab3",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ]
    }
  ],
  "connections": {
    "Project Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize AIQA Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize AIQA Request": {
      "main": [
        [
          {
            "node": "Call Multi Provider AI Wrapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Multi Provider AI Wrapper": {
      "main": [
        [
          {
            "node": "Shape QA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape QA Output": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "AI Tester Blueprint 2x"
    },
    {
      "name": "agent"
    }
  ],
  "meta": {
    "projectId": "accessibility-auditor",
    "wrapperRequired": true,
    "wrapperUrlEnv": "AIQA_WRAPPER_URL",
    "samplePayload": {
      "provider": "groq",
      "input": {
        "html": "<button><span></span></button><input placeholder=\"Email\">",
        "target": "WCAG 2.2 AA"
      }
    }
  }
}
