projects/flows/n8n/bug-triage-root-cause-analyzer.json
{
  "name": "AIQA TOOL - AI Bug Triage and Root Cause Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aiqa/bug-triage-root-cause-analyzer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "163a30da-7789-5f6f-4d76-bff161f3f5aa",
      "name": "Project Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ],
      "webhookId": "3b6082ab-908f-84ed-8ee6-058316056ed0"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nreturn [{\n  json: {\n    projectId: \"bug-triage-root-cause-analyzer\",\n    title: \"AI Bug Triage and Root Cause Analyzer\",\n    provider: body.provider ?? process.env.AIQA_PROVIDER ?? \"groq\",\n    model: body.model ?? process.env.AIQA_MODEL ?? \"\",\n    input: body.input ?? body,\n    wrapperUrl: body.wrapperUrl ?? process.env.AIQA_WRAPPER_URL ?? \"http://host.docker.internal:8787/api/run\"\n  }\n}];"
      },
      "id": "506eca3c-8957-3147-43b1-e23e43ad1d4c",
      "name": "Normalize AIQA Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wrapperUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: $json.projectId, provider: $json.provider, model: $json.model, input: $json.input }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "715d5ff5-3349-bcb8-b071-4c2a00968f2c",
      "name": "Call Multi Provider AI Wrapper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nreturn [{\n  json: {\n    projectId: \"bug-triage-root-cause-analyzer\",\n    title: \"AI Bug Triage and Root Cause Analyzer\",\n    provider: response.provider ?? \"ai-wrapper\",\n    model: response.model ?? \"\",\n    output: response.output ?? response.content ?? response.message ?? response,\n    usage: response.usage ?? null,\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "ceb13b82-e4f7-d7e8-e42b-e1592658bba9",
      "name": "Shape QA Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "6e87cbf3-b205-8ffa-e665-53891e47b491",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ]
    }
  ],
  "connections": {
    "Project Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize AIQA Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize AIQA Request": {
      "main": [
        [
          {
            "node": "Call Multi Provider AI Wrapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Multi Provider AI Wrapper": {
      "main": [
        [
          {
            "node": "Shape QA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape QA Output": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "AI Tester Blueprint 2x"
    },
    {
      "name": "tool"
    }
  ],
  "meta": {
    "projectId": "bug-triage-root-cause-analyzer",
    "wrapperRequired": true,
    "wrapperUrlEnv": "AIQA_WRAPPER_URL",
    "samplePayload": {
      "provider": "groq",
      "input": {
        "logs": "Expected status 200 but received 500 on POST /checkout. Stack trace shows PaymentGatewayTimeout.",
        "recentChanges": "Payment retry logic merged yesterday"
      }
    }
  }
}
